<h1>Welcome to FunctionMates App</h1>
<li><%= link_to "cubed page",'/cubed_path' %></li>
<li><%= link_to "evenly page",'/evenly_path' %></li>
<li><%= link_to "palindrome page",'/palindrome_path' %></li>
<li><%= link_to "madlib page",'/madlib_path' %></li>
